/* Remove default margin */
* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #fffff0;
    font-family: sans-serif;
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #dd4444;
}

.container {
    margin: 44px 4px 0px;
    height: 100%;
    max-width: 550px;
}

.section-centered {
    text-align: center;
}

.section {
    margin: 14px;
    text-align: center; /* Temporary until I have more content */
}

.portrait-picture {
    border-radius: 50%;
    padding: 4px;
    border-style: dashed;
    width: 250px;
}

.column-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.links {
    list-style: none;
    display: flex;
    padding: 14px 8px;
    justify-content: center;
    gap: 24px;
}

.links img {
    height: 48px;
    width: 48px;
}

/* Fade in links */
.links li {
    opacity: 0;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 0.25s;
}
.links li:nth-child(1) {
    animation-delay: 0.5s;
}
.links li:nth-child(2) {
    animation-delay: 0.75s;
}
.links li:nth-child(3) {
    animation-delay: 1s;
}
.links li:nth-child(4) {
    animation-delay: 1.25s;
}

.footer {
    text-align: center;
    margin: 24px 8px;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}